* {
    border: 1px black solid 
  }
  
  body {
    margin: 0px;
    /* max-width: 1280px; */
    background-color: teal;
  }
  
  #container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 200px;
    grid-template-rows: auto auto 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  
    grid-template-areas: 
    "h h h h"
    ". c c ."
    " f f f f";
  }
  
  p {
    line-height: 1.5;
  }
  
  .content {
    grid-area: c;
    background-color: white;
    padding: 20px 40px 20px 40px;
  
  }
  
  .footer {
    grid-area: f;
    background-color: teal;
  }
  
  .navbar {
    grid-area: h;
    
    background-color: #313236;
    border-radius: 2px;
    max-width: 100%;
    position:-webkit-sticky;
    position: sticky;
    top: 0px;
  }
  
  .navbar a {
    color: #aaa;
    display: inline-block;
    font-size: 15px;
    padding: 20px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  
  .navbar a:hover {
    color: #ffffff;
  }

  .card {
    display:grid;
    border-radius: 5px;
    max-width: 250px;
  }

  .card-img-top {
    max-width: 100%;
    min-width: 100%;
  }


  @media screen and (max-width:900px) {
    #container {
    grid-template-rows:auto;
    grid-template-columns: auto;
    grid-template-areas:
    "h"
    "c"
    "f";
    }
    
  }